.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.exp
*.idb
*.iobj
*.ipdb
*.ipch
*.aps
*.ncb
*.opendb
*.db
*.sdf
*.pch